{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}

<div class="atypikhouse-container">
    <div class="page-title my-3">
        <h1 class="text-uppercase c1 size20 ff-r">{{ title }}</h1>
    </div>
    <div class="my-3">
    </div>
</div>


{% include 'inc/parts/footer.html.twig' %}