{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-error">
        {{ message }}
    </div>
{% endfor %}

<div class="atypikhouse-container">
    <div class="page-title">
        <h1 class="text-uppercase c1 size20 ff-r">{{ title }}</h1>
    </div>
    <p>Les champs avec un indice (*) sont à renseigner obligatoirement.</p>
    <div class="contact-form grid-lg-2 my-4 border-radius-form box-shadow">
        <div>
            <img src="assets/pictures/pic-ath3.jpg" alt="Image du formulaire de contact"/>
        </div>
        <form class="p-2" method="POST">
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    <label>Prénom *</label>
                    <input type="text" placeholder="Prénom *" name="first-name" required>
                </div>
                <div class="form-group bloc-lg-6">
                    <label>Nom *</label>
                    <input type="text" placeholder="Nom *" name="last-name" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    <label>Téléphone</label>
                    <input type="tel" placeholder="Téléphone" name="contact-phone">
                </div>
                <div class="form-group bloc-lg-6">
                    <label>E-mail *</label>
                    <input type="email" placeholder="E-mail *" name="contact-email" required>
                </div>
            </div>
            
            <div class="form-group">
                <label>Objet *</label>
                <input type="text" placeholder="Objet *" name="contact-object" required>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea placeholder="Message" name="contact-message"></textarea>
            </div>

            <input type="submit" name="btn-contact" class="ml-auto click click-success" value="Envoyer ma demande">
        </form>
    </div>
</div>


{% include 'inc/parts/footer.html.twig' %}