{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}


<div class="atypikhouse-container">
    {% if title %}
    <div class="page-title my-3">
        <h1 class="text-uppercase c1 size20 ff-r">{{ title }}</h1>
    </div>
    {% endif %}
    <div>
        <h2 class="text-uppercase c1 size20 ff-r">Comment réserver sur votre site ?</h2>
        <p>Pour réserver sur notre site internet, il vous faut vous rendre dans la rubrique habitations ou par l'option recherche présente sur toutes les pages, cliquer sur le type d'habition qui vous convient pour voir les détails et plus d'images. Une fois que c'est fait et qu'il vous plait, vous pouvez directement le réserver en procédant à la vérification des disponibilités des dates et au paiement sur la même page.<p>
    </div>
    <div>
        <h2 class="text-uppercase c1 size20 ff-r">Avez-vous une application mobile ?</h2>
        <p>Oui nous avons une application mobile disponible sur IOS et Android qui vous permet de regarder votre historique de réservation, d'annuler votre commande ou même de commenter.<p>
    </div>

</div>
{% include 'inc/parts/footer.html.twig' %}