{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}
<div class="atypikhouse-container">

<h3>Historique de réservation de mes clients</h3>
<table id="historical-table" class="text-center ath-table-form">
    <thead>
        <tr>
            <th></th>
            <th colspan="3">Client</th>
            <th>Habitation</th>
            <th>Période de la réservation</th>
            <th>Prix</th>
            <th>Statut</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="bg-c5">Prénom</td>
            <td class="bg-c5">Nom</td>
            <td class="bg-c5">E-mail</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="checkbox" value="1" class="historical-checked"></td>
            <td>Nathan</td>
            <td>DIAFOUKA</td>
            <td>n@gmail.com</td>
            <td><a href="">Cabane perchée</a></td>
            <td>01 juillet 2022 - 07 juillet 2022</td>
            <td>150 €</td>
            <td>NOT_ACCEPTED</td>
            <td><a href="" class="fas fa-eye"></a></td>
        </tr>
        <tr>
            <td><input type="checkbox" value="2" class="historical-checked"></td>
            <td>Nathan</td>
            <td>DIAFOUKA</td>
            <td>n@gmail.com</td>
            <td><a href="">Cabane perchée</a></td>
            <td>01 juillet 2022 - 07 juillet 2022</td>
            <td>150 €</td>
            <td>NOT_ACCEPTED</td>
            <td><a href="" class="fas fa-eye"></a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><input type="checkbox" class="historical-checked-all"></td>
            <td>Action</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="d-flex gap-1 m-auto w-max-content">
            {# <a href="" class="click click-brown">Détails</a> #}
            <input type="submit" class="click click-grown" value="Refuser" name="btn-refuse">
            <input type="submit" class="click click-success" value="Valider" name="btn-valid">
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>

<h3>Historique de mes réservations</h3>
<table id="historical-table" class="text-center ath-table-form">
    <thead>
        <tr>
            <th></th>
            <th colspan="3">Client</th>
            <th>Habitation</th>
            <th>Période de la réservation</th>
            <th>Prix</th>
            <th>Statut</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="bg-c5">Prénom</td>
            <td class="bg-c5">Nom</td>
            <td class="bg-c5">E-mail</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="checkbox" value="1" class="historical-checked"></td>
            <td>Nathan</td>
            <td>DIAFOUKA</td>
            <td>n@gmail.com</td>
            <td><a href="">Cabane perchée</a></td>
            <td>01 juillet 2022 - 07 juillet 2022</td>
            <td>150 €</td>
            <td>NOT_ACCEPTED</td>
            <td><a href="" class="fas fa-eye"></a></td>
        </tr>
        <tr>
            <td><input type="checkbox" value="2" class="historical-checked"></td>
            <td>Nathan</td>
            <td>DIAFOUKA</td>
            <td>n@gmail.com</td>
            <td><a href="">Cabane perchée</a></td>
            <td>01 juillet 2022 - 07 juillet 2022</td>
            <td>150 €</td>
            <td>NOT_ACCEPTED</td>
            <td><a href="" class="fas fa-eye"></a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><input type="checkbox" class="historical-checked-all"></td>
            <td>Action</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="d-flex gap-1 m-auto w-max-content">
            {# <a href="" class="click click-brown">Détails</a> #}
            <input type="submit" class="click click-grown" value="Refuser" name="btn-refuse">
            <input type="submit" class="click click-success" value="Valider" name="btn-valid">
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
</div>
{% include 'inc/parts/footer.html.twig' %}