{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}
<div class="atypikhouse-container">
    {% if title %}
    <div class="page-title my-3">
        <h1 class="text-uppercase c1 size20 ff-r">{{ title }}</h1>
    </div>
    {% endif %}
    <div class="dashboard-wrapper my-4">
        <div class="navigation-link d-flex gap-1">
            <a data-checked="client" class="click click-success">Client</a>
            {% if is_granted('ROLE_HOST') %}
            <a data-checked="host" class="click click-c5">Hôte</a>
            {% endif %}
        </div>
        
        <div data-selected="client">
            <h2 class="size18">Historique de mes réservations</h2>
            <div class="table-wrapper historical-client-wrapper historical-wrapper"></div>
        </div>
        {% if is_granted('ROLE_HOST') %}
        <div data-selected="host" class="d-none">
            <h2 class="size18">Historique de réservation de mes clients</h2>
            <div class="table-wrapper historical-host-wrapper historical-wrapper"></div>
        </div>
        {% endif %}
    </div>
</div>

{% include 'inc/parts/footer.html.twig' %}