<section class="atypikhouse-additional-content my-6">
    <div class="atypikhouse-container additional-content-wrapper grid-lg-2">
        <div class="grid-level-3 additional-questions additional-inner">
            <div id="additional-questions-picture">
                <img src="assets/pictures/pic-ath4.jpg" alt="Avez-vous des questions" class="br-20" loading="lazy">
            </div>
            <div class="additional-cover"></div>
            <div id="additional-questions-content" class="c4 as-center">
                <h2 class="size42 ff-sb ml-4">Des questions ?</h2>
                <a href="{{ path('contact') }}" class="click click-light-green ml-4 my-3">Discuter avec nous</a>
            </div>
        </div>


        <div class="grid-level-3 additional-questions additional-inner">
            <div id="additional-questions-picture">
                <img src="assets/pictures/pic-ath5.jpg" alt="Avez-vous des questions" class="br-20" loading="lazy">
            </div>
            <div class="additional-cover"></div>
            <div id="additional-questions-content" class="c4 as-start my-3 px-4">
                <h2 class="size42 ff-sb">Newsletter</h2>
                <p class="size20">Abonnez-vous pour suivre toute l'Actualité de AtypikHouse</p>
                <form action="{{ path('register_newsletter') }}" class="d-flex px-1 br-5" id="newsletter-form" method="POST">
                    <input type="email" class="size22 ff-r" placeholder="Entrez votre adresse e-mail" name="newsletter" required>
                    <button class="c1 size22 p-1 ff-sb">OK</button>
                </form>
            </div>
        </div>
    </div>
</section>