<main class="atypikhouse-main atypikhouse-container my-6" id="atypikhouse-main">
    <div class="atypikhouse-bloc-title">
        <h2 class="my-1">DÉCOUVREZ</h2>
        <h2 class="c1 my-1">NOS HABITATIONS INSOLITES</h2>
    </div>

    <div class="atypikhouse-main-inner d-grid grid-lg-2">
        <div class="atypikhouse-main-col1 d-flex jc-space-between">
            <div class="main-col1-items d-grid grid-lg-2 grid-sm-2">
                <article>
                    <h3 class="size26 ff-m my-2 c1">Sécurité</h3>
                    <p>This friendly message is coming from atypikhouse</p>
                </article>
                <article>
                    <h3 class="size26 ff-m my-2 c1">Assurance & Garantie</h3>
                    <p>This friendly message is coming from atypikhouse</p>
                </article>
                <article>
                    <h3 class="size26 ff-m my-2 c1">Conformité</h3>
                    <p>This friendly message is coming from atypikhouse</p>
                </article>
                <article>
                    <h3 class="size26 ff-m my-2 c1">Divertissement</h3>
                    <p>This friendly message is coming from atypikhouse</p>
                </article>
            </div>
            <div class="main-col1-btn">
                <a class="click click-brown" href="{{ path('app_habitations') }}">Découvrir</a>
            </div>
        </div>
        <div class="atypikhouse-main-col2 atypikhouse-grid-form1 ml-auto">
            <div class="card-picture border-solid-2 c1"></div>
            <div class="card-picture">
                <img src="assets/pictures/pic-ath2.jpg" alt="Image découverte habitations insolites">
            </div>
        </div>
    </div>
</main>