<section class="atypikhouse-section atypikhouse-container my-6">
    <div class="atypikhouse-section-display picture-radius">
        <div class="section-title">
            <h2 class="c1 my-1">DES IDÉES POUR VOTRE PROCHAINE RÉSERVATION</h2>
        </div>
        <div class="section-display grid-lg-4 grid-md-4 grid-sm-4">
            <a href="{{ path('app_habitations', {'place':1, 'id':10}) }}" class="section-display-child">
                <div class="section-child-picture img">
                    <img src="assets/pictures/pic-ath1.jpg"
                     srcset="assets/pictures/pic-ath1.jpg" alt="AtypikHouse image d'une idée de la prochaine réservation">
                </div>
                <div class="display-child-text">
                    <h4 class="child-text-city size22">Théoule-sur-Mer</h4>
                    <h5 class="child-text-country size22 ff-m c1">France</h5>
                </div>
            </a>
            
            <a href="{{ path('app_habitations') }}" class="section-display-child">
                <div class="section-child-picture img">
                    <img src="assets/pictures/pic-ath2.jpg"
                     srcset="assets/pictures/pic-ath2.jpg" alt="AtypikHouse image d'une idée de la prochaine réservation">
                </div>
                <div class="display-child-text">
                    <h4 class="child-text-city size22">Théoule-sur-Mer</h4>
                    <h5 class="child-text-country size22 ff-m c1">France</h5>
                </div>
            </a>

            <a href="{{ path('app_habitations') }}" class="section-display-child">
                <div class="section-child-picture img">
                    <img src="assets/pictures/pic-ath3.jpg"
                     srcset="assets/pictures/pic-ath3.jpg" alt="AtypikHouse image d'une idée de la prochaine réservation">
                </div>
                <div class="display-child-text">
                    <h4 class="child-text-city size22">Théoule-sur-Mer</h4>
                    <h5 class="child-text-country size22 ff-m c1">France</h5>
                </div>
            </a>

            <a href="{{ path('app_habitations') }}" class="section-display-child">
                <div class="section-child-picture img">
                    <img src="assets/pictures/pic-ath2.jpg"
                     srcset="assets/pictures/pic-ath2.jpg" alt="AtypikHouse image d'une idée de la prochaine réservation">
                </div>
                <div class="display-child-text">
                    <h4 class="child-text-city size22">Théoule-sur-Mer</h4>
                    <h5 class="child-text-country size22 ff-m c1">France</h5>
                </div>
            </a>
        </div>
    </div>
</section>