<section class="atypikhouse-section atypikhouse-section-why my-6">
    <div class="section-why-form">
        {% for i in 0..120 %}
        <span></span>
        {% endfor %}
    </div>
    <div class="atypikhouse-container section-why-content d-grid grid-lg-2">
        <div class="section-why-col1 atypikhouse-grid-form1 mr-auto">
            <div class="card-picture border-solid-2 c1"></div>
            <div class="card-picture">
                <img src="assets/pictures/pic-ath2.jpg" alt="Image découverte habitations insolites">
            </div>
        </div>
        <div class="section-why-col2 d-flex jc-space-between gap-3 flex-dir-col">
            <div class="section-title">
                <h2 class="c1 my-1">POURQUOI CHOISIR AtypikHouse ?</h2>
            </div>
            <div class="section-why-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.</p>
            </div>
            <div class="section-why-quality d-grid grid-lg-4">
                <div class="text-center">
                    <i class="fas fa-solid fa-credit-card size24"></i>
                    <h4>Paiement sécurisé</h4>
                </div>
                <div class="text-center">
                    <i class="fas fa-home size24"></i>
                    <h4>Logement sécurisé</h4>
                </div>
                <div class="text-center">
                    <i class="fas fa-solid fa-umbrella size24"></i>
                    <h4>Assurance</h4>
                </div>
                <div class="text-center">
                    <i class="fas fa-solid fa-calendar-day size24"></i>
                    <h4>Réservation instantanée</h4>
                </div>
            </div>
        </div>
    </div>
</section>