{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}

{% include 'inc/parts/header.html.twig' %}
{% include 'inc/modules/search/popupsearch.html.twig' %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-error">
        {{ message }}
    </div>
{% endfor %}

{% include 'inc/pages/home/discovery.html.twig' %}

{% include 'inc/pages/home/ideas.html.twig' %}

{% include 'inc/pages/home/why.html.twig' %}

{% include 'inc/pages/home/additional.html.twig' %}


{% include 'inc/parts/footer.html.twig' %}