<div class="popup-search">
    <div class="popup-close-search">
        <div class="popup-closed-search"></div>
        <span>Fermer</span>
    </div>
    {% include 'inc/modules/search/search.html.twig' %}
</div>