<div class="module-search-wrapper atypikhouse-container p-1 my-1 br-5" id="module-search-wrapper">
    <div class="module-search-inner atypikhouse-search-dispo grid-lg-4">
        <div class="search-place">
            Où allez-vous ?
            <span class="d-block c1"></span>
        </div>
        <div class="search-arrival-date p-relative target-data cp">
            Date d'arrivée
            <span class="d-block c1"></span>
            <div class="superpose d-none calendar general-calendar">{{ calendar | raw }}</div>
        </div>
        <div class="search-departure-date p-relative target-data cp" id="search-departure-date">
            Date de départ
            <span class="d-block c1"></span>
            <div class="superpose d-none calendar general-calendar"></div>
        </div>
        <div class="nb-travelers p-relative target-data cp">
            Qui sont les voyageurs ?
            <span class="d-block c1"></span>
            <ul class="superpose d-none travelers">
                <li>Adulte <input type="number" min="1" max="12" value="1" id="traveler-adult"></li>
                <li>Enfant <input type="number" min="0" max="5" value="0" id="traveler-children"></li>
                <li>Bébé <input type="number" min="0" max="5" value="0" id="traveler-baby"></li>
                <li>Animaux <input type="number" min="0" max="3" value="0" id="traveler-animal"></li>
            </ul>
        </div>
    </div>
    <button class="click click-rounded click-success br-50 btn-search fas fa-search size18">
    </button>
</div>
