<header class="atypikhouse-container">
    <div class="atypikhouse-carousel">
        <div class="carousel-item">
            <img src="{{ ath_link }}/assets/pictures/carousel-ath1.jpeg" alt="AtypikHouse image mise en avant, logement insolite">
        </div>
    </div>
</header>