<header class="atypikhouse-container">
    <div class="atypikhouse-header-inner grid-level-3">
        <div class="header-background-picture">
            <img src="{{ ath_link }}/assets/pictures/pic-ath3.jpg" alt="AtypikHouse image mise en avant, logement insolite">
        </div>
        <div class="header-cover"></div>
        <div class="header-text">
            <h1 class="size38 ff-sb">Lorem ipsum atypikhouse aezrete dezdez bonjour</h1>
        </div>
    </div>
</header>